.circular-menu .menu-item:nth-child(4) {
  background-color: #441111;
}
.banner {
  background: url('../pic/branch_page.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.address {
  line-height: 2em;
  position: relative;
  color: #ddd;
  border-bottom: 2px dashed #280000;
  padding: 30px 0;
}
.address > img {
  display: block;
  height: 280px;
  margin: auto;
  filter: invert(100%);
  padding: 30px 0;
}
.address label {
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  width: calc(100% - 40px);
  max-width: 550px;
  height: 450px;
  position: relative;
  padding: 70px 0 0 0;
  z-index: 1;
}

/* 地圖點點 */
.address > a {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 5px solid #441111;
}
.address a:nth-of-type(1) {
  top: 90px;
  transform: translate(-20%, 0);
}
.address a:nth-of-type(2) {
  top: 160px;
  transform: translate(-180%, 0);
}
.address a:nth-of-type(3) {
  top: 270px;
  transform: translate(-170%, 0);
}

/* 點點名稱 */
.address a:nth-of-type(1)::before {
  content: '桃園館';
}
.address a:nth-of-type(2)::before {
  content: '台中館';
}
.address a:nth-of-type(3)::before {
  content: '屏東館';
}
.address a::before {
  position: absolute;
  left: 40px;
  top: -10px;
  width: 50px;
  background-color: var(--main-color);
  color: #ddd;
  padding: 5px 10px;
  border-radius: 10px;
}

.address a::after {
  content: '';
  position: absolute;
  left: 30px;
  top: 6px;
  width: 0;
  height: 0;
  border: 11px solid var(--main-color);
  border-left: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* 卡片翻頁效果 */
.address input {
  display: none;
}
.address label .card_front_side {
  border-radius: 10px;
  box-shadow: 0 0 15px #222;
  width: 100%;
  height: 450px;
  background-color: #441111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.address label .card_back_side {
  border-radius: 10px;
  box-shadow: 0 0 15px #888;
  width: 100%;
  height: 450px;
  padding: 20px 10px;
  border-block: 3px solid #f3d764;
  border-inline: 1px dashed #f3d764;
  background-color: #0005;
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
input:checked ~ .card_front_side {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
input:checked ~ .card_back_side {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
}

/* 卡片內容 */
.address label:hover .card_front_side p:first-of-type {
  height: 65px;
}
.address label .card_front_side img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.address label .card_front_side .pic {
  max-height: 50%;
  overflow: hidden;
}
.address label .card_front_side .detail {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}
.address label .card_front_side h2 {
  color: #fff;
}
.address label .card_front_side button {
  background-color: transparent;
  color: #ddd;
  border: none;
}
.address label .card_back_side .detail p {
  color: #aaa;
  padding-bottom: 20px;
}

footer {
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .address .row {
    justify-content: center;
  }
  .address label {
    margin: 0;
    width: calc(100% / 3 - 40px);
    max-width: 400px;
    padding: 30px 20px 0 20px;
  }
  .address label .card_back_side {
    top: 30px;
    margin: 0 20px;
    width: calc(100% - 40px);
  }

  .address a {
    display: none;
  }
  /* 地圖點點 */
  .address .place_point {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: 5px solid #441111;
  }
  .address .row label:nth-of-type(1) .place_point {
    top: -280px;
    left: 150%;
    transform: translate(-20%, 0);
  }
  .address .row label:nth-of-type(2) .place_point {
    top: -210px;
    left: 50%;
    transform: translate(-180%, 0);
  }
  .address .row label:nth-of-type(3) .place_point {
    top: -100px;
    left: -50%;
    transform: translate(-170%, 0);
  }

  /* 點點名稱 */
  .address .row label:nth-of-type(1) .place_point::before {
    content: '桃園館';
  }
  .address .row label:nth-of-type(2) .place_point::before {
    content: '台中館';
  }
  .address .row label:nth-of-type(3) .place_point::before {
    content: '屏東館';
  }
  .address .place_point::before {
    position: absolute;
    left: 40px;
    top: -10px;
    width: 50px;
    background-color: var(--main-color);
    color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .address .place_point::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 6px;
    width: 0;
    height: 0;
    border: 11px solid var(--main-color);
    border-left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  footer {
    padding: 0;
  }
  footer .other_info {
    flex-wrap: nowrap;
    padding: 60px;
  }
  footer .other_info > div {
    max-width: 210px;
    border: 0;
    border-top: 3px solid var(--main-color);
    margin: 0 15px;
    padding: 10px 5px;
  }
}

@media screen and (min-width: 992px) {
  .address label {
    height: 430px;
  }
  .address label .card_front_side {
    height: 430px;
  }
  .address label .card_back_side {
    height: 430px;
  }

  footer .other_info > div {
    max-width: 235px;
    border: 0;
    border-left: 3px solid var(--main-color);
    margin: 0 0 30px;
    padding: 0 0 0 10px;
  }
}

@media screen and (min-width: 1275px) {
  .address label {
    height: 360px;
  }
  .address label .card_front_side {
    height: 360px;
  }
  .address label .card_back_side {
    height: 360px;
  }
}
