.circular-menu .menu-item:nth-child(6){
  background-color: #441111;
}
.banner{
  background: url('pic/QA_page.webp');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

main section{
  margin: auto;
  max-width: 80vw;
  padding: 60px 0 30px;
}
section .question{
  position: relative;
  padding: 0 0 0 45px;
}
section .question{
  margin-bottom: 30px;
}
section input{
  display: none;
}
section h3{
  cursor: pointer;
  padding: 5px 0;
}
section a{
  color: #F3D764;
}
section h3::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 34px;
  height: 7px;
  border-radius: 2px;
  background-color: var(--main-color);
  transition: .5s;
}
section h3::after{
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  width: 7px;
  height: 34px;
  border-radius: 2px;
  background-color: var(--main-color);
  transition: .5s;
}
section p{
  opacity: 0;
  padding-right: 0;
  color: #aaa;
  overflow: hidden;
  line-height: 0em;
  transition: .5s;
}
section input:checked + label h3::before{
  transform: rotate(-180deg);
  background-color: #F3D764;
}
section input:checked + label h3::after{
  transform: rotate(-270deg);
  background-color: #F3D764;
}
section input:checked ~ p{
  opacity: 1;
  line-height: 1.5em;
}


@media screen and (min-width:768px) {
  section h3{
    cursor: pointer;
    padding: 5px 30px 5px 0;
  }
  section p{
    padding-right: 30px;
  }
}