.circular-menu .menu-item:nth-child(1) {
  background-color: #441111;
}
.banner {
  background: url('../pic/topic_page.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 主題 */
.topic {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: auto;
  padding-bottom: 60px;
}
.topic h2 {
  margin: 60px 20px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.topic h2::after {
  content: ' ';
  height: 0;
  width: 40px;
  border-radius: 2px;
  border: 2px solid #441111;
  background-color: #441111;
  flex-grow: 1;
  margin-left: 30px;
}
.topic h3 {
  color: #fff;
  margin: 10px 5px;
}
.topic > a {
  box-shadow: 1px 2px 10px 3px #fff5;
  border-radius: 30px;
  margin: 20px;
  width: calc(100% - 40px);
  height: 250px;
  position: relative;
  overflow: hidden;
}
.topic .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #0004;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}
.topic > a > img {
  height: 100%;
  transition: 0.5s;
}
.topic > a:hover .info {
  background-color: #0001;
}
.topic > a:hover > img {
  transform: scale(1.1, 1.1);
}
.topic .game_hard {
  margin: 5px;
  font-size: 0;
}
.topic .info .icon {
  height: 15px;
  margin-right: 5px;
  filter: invert(90%);
}
.topic .game_hard .icon {
  filter: invert(30%);
}
.topic > .eazy .game_hard .icon:nth-of-type(-n + 3),
.topic > .ordinary .game_hard .icon:nth-of-type(-n + 4),
.topic > .difficulty .game_hard .icon {
  filter: invert(85%) sepia(60%) saturate(600%) hue-rotate(350deg);
}
.topic .info span {
  margin: 5px;
  color: #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 職業病系列 */
.topic a .occupational_disease::before {
  content: '';
  height: 0;
  width: 0;
  top: 30px;
  left: 0;
  border: 15px solid var(--main-color);
  border-left: 100px solid var(--main-color);
  border-right: 10px solid transparent;
  position: absolute;
  z-index: 1;
}
.topic a .occupational_disease::after {
  content: '職業病系列';
  color: #fff;
  top: 36px;
  left: 10px;
  position: absolute;
  z-index: 1;
}
/* 高人氣 */
.topic a .hot::before {
  content: '';
  height: 0;
  width: 0;
  top: 30px;
  left: 0;
  border: 15px solid #bb4400;
  border-left: 67px solid #bb4400;
  border-right: 10px solid transparent;
  position: absolute;
  z-index: 1;
}
.topic a .hot::after {
  content: '高人氣';
  color: #fff;
  top: 36px;
  left: 10px;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 480px) {
  /* 更多主題 */
  .topic {
    max-width: 740px;
  }
  .topic .info {
    text-align: start;
  }
  .topic > a {
    margin: 20px;
    width: calc(100% / 2 - 40px);
  }

  .topic .info span {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  /* 更多主題 */
  .topic {
    max-width: 900px;
  }
  .topic .info {
    text-align: start;
    background-color: #0009;
  }
  .topic > a {
    margin: 30px;
    height: 350px;
    width: calc(100% / 2 - 60px);
  }
}

@media screen and (min-width: 992px) {
  /* 更多主題 */
  .topic {
    max-width: 1200px;
  }
  .topic > a {
    width: calc(100% / 3 - 60px);
  }
}
