.circular-menu .menu-item:nth-child(4){
  background-color: #441111;
}
.banner{
  background: url('https://cdn.pixabay.com/photo/2020/03/02/16/19/vintage-4896141_960_720.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

.address{
  line-height: 2em;
  position: relative;
  color: #ddd;
  border-bottom: 2px dashed #280000;
  padding: 30px 0;
}
.address >img{
  display: block;
  height: 280px;
  margin: auto;
  filter: invert(100%);
  padding: 30px 0;
  
}
.address label{
  margin: auto;
  cursor: pointer;
  display: block;
  text-align: center;
  width: calc(100% - 40px);
  height: 450px;
  position: relative;
  padding: 30px 0;
  z-index: 1;
}
/* 地圖點點 */
.address > a{
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: brown;
  border: 3px dashed #441111;
}
.address a:nth-of-type(1){
  top: 100px;
  transform: translate(-30%,0);
}
.address a:nth-of-type(2){
  top: 160px;
  transform: translate(-180%,0);
}
.address a:nth-of-type(3){
  top: 270px;
  transform: translate(-170%,0);
}

/* 翻頁效果 */
.address input{
  display: none;
}
.address label .card_front_side{
  border-radius: 10px;
  box-shadow: 0 0 15px #222;
  width: 100%;
  height: 450px;
  background-color: #441111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.address label .card_back_side{
  border-radius: 10px;
  box-shadow: 0 0 15px #888;
  width: 100%;
  height: 450px;
  padding: 20px 10px;
  border-block: 3px solid #F3D764;
  border-inline: 1px dashed #F3D764;
  background-color: #0005;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
}
input:checked ~ .card_front_side {
  transform: rotateY(180deg);
}
input:checked ~ .card_back_side {
  transform: rotateY(360deg);
}


.address label:hover .card_front_side p:first-of-type{
  height: 65px;
}
.address label .card_front_side img{
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.address label .card_front_side .pic{
  max-height: 50%;
  overflow: hidden;
}
.address label .card_front_side .detail{
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}
.address label .card_front_side h2{
  color: #fff;
}
.address label .card_front_side button{
  background-color: transparent;
  color: #ddd;
  border: none;
}
.address label .card_back_side .detail p{
  color: #aaa;
  padding-bottom: 20px;
}



/* .address label:nth-child(2){
  margin-left: auto;
}
.address label .card_front_side p{
  color: #bbb;
  font-size: 16px;
}
.address label .card_front_side p:first-of-type{
  overflow: hidden;
  color: #ddd;
  padding-bottom: 30px;
  font-size: 18px;
  transition: .5s;
} */

/* 兩條槓 */
/* .address label .card_front_side h2::after,
.address label .card_front_side h2::before{
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%,0);  
  height: 2px;
  width: 0px;
  transition: .3s;
}
.address label:hover .card_front_side h2::after,
.address label:hover .card_front_side h2::before{
  width: 200px;
  background-color: #F3D764;
}
.address label .card_front_side h2::after{
  top: 90px;
}
.address label:hover .card_front_side h2::after{
  width: 100px;
} */

/* 地圖點點 */
/* .address label .place_point::after{
  content: '';
  height: 4px;
  width: 390px;
  background-color: brown;
  position: absolute;
  top: 100px;
  right: -140px;
  transition: .5s;
  z-index: -1;
}
.address label:nth-child(2) .place_point::after{
  width: 420px;
  top: 30px;
  right: auto;
  left: -160px;
}
.address label:nth-child(3) .place_point::after{
  width: 280px;
  top: 40px;
  right: -30px;
}
.address label .place_point::before{
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position: absolute;
  top: 87px;
  right: -150px;
  box-shadow: inset 0 0 0 4px brown,inset 0 0 0 15px #ddd;
  transition: .5s;
}
.address label:nth-child(2) .place_point::before{
  top: 17px;
  right: 0;
  left: -170px;
}
.address label:nth-child(3) .place_point::before{
  top: 27px;
  right: -40px;
}
.address label:hover .place_point::before{
  transform: scale(1.1);
}
.address input:checked ~ .place_point::after {
  background-color: #F3D764;
  width: 140px;
}
.address label:nth-child(2) input:checked ~ .place_point::after {
  width: 160px;
}
.address label:nth-child(3) input:checked ~ .place_point::after {
  width: 30px;
}
.address input:checked ~ .place_point::before{
  box-shadow: inset 0 0 0 4px #F3D764,inset 0 0 0 15px #fff;
} */

footer{
  background-color: #000;
}