.banner{
  height: 100vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  animation: turn_pic 15s infinite steps(1, end);
  box-shadow: 0 -200px 300px #000 inset,
  0 -500px 300px #0009 inset;
}
.banner .logo{
  margin: 25vh 0 20px;
  filter:drop-shadow( 10px 10px 8px rgb(0, 0, 0));
  opacity: .9; 
}
.banner > p::before{
  content: url("pic/banner-blood.png");
  z-index: -1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: rotate(30deg) translate(-50%,0);
}
.banner > p{
  position: relative;
  top: 7vh;
  line-height: 2em;
  color: #aaa;
}
.banner a{
  position: relative;
  top: 10vh;
  color: #fff;
  background-color: transparent;
  text-shadow: 1px 1px 1px #000;
}
.banner a p{
  font-size: 32px;
}
.banner a img{
  height: 40px;
  animation: Stepping 1s infinite alternate;
}
@keyframes Stepping{
  100%{
    margin: 5px;
  }
  0%{
    margin-top: 10px;
    filter: opacity(50%);
  }
}
@keyframes turn_pic {
  0%{
    background-image: url("https://pic.52112.com/180209/180209_82/QRJjRn5dr1.jpg");
  }
  20%{
    background-image: url("https://cdn.pixabay.com/photo/2015/05/11/14/44/pencils-762555_960_720.jpg");
  }
  40%{
    background-image: url("https://cdn.pixabay.com/photo/2014/02/02/17/40/photos-256887_960_720.jpg");
  }
  60%{
    background-image: url("https://cdn.pixabay.com/photo/2017/05/17/11/11/woman-2320581_960_720.jpg");
  }
  80%{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/07/06/25/depression-3297810_960_720.jpg");
  }
}

#reset_lattice{
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(calc(-50% + 95px),100px);
  width: 40px;
  background-color: transparent;
  border: transparent;
}
#reset_lattice img{
  cursor: pointer;
  width: 100%;
  filter: invert(100%) drop-shadow(0 0 4px #000);
}
#lattice{
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(calc(-50% + 28px),-13px);
  z-index: 1;
}
#lattice td input{
  color: var(--main-color);
  border: none;
  background-color: transparent;
  font-size: 30px;
  width: 55px;
  height: 50px;
  filter: drop-shadow(0 0 4px #fff);
}
#lattice td input[value='O']{
  color: #F3D764;
  filter: drop-shadow(0 0 4px #000);
}



main section:first-child{
  margin-top: 100vh;
}

main{
  position: relative;
  /* overflow: hidden; */
}
main::before,
main::after{
  content: url(" ");
  position: absolute;
  height: 0;
  bottom: 420px;
  left: 0;
  font-size: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 250px solid transparent;
  border-left: 55vw solid #220000; 
}
main::after{
  border-left: none;
  border-right: 55vw solid #220000;
}


.hot_topic{
  margin: auto;
  max-width: 1200px;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 230px;
}
.hot_topic h1{
  color: #F3D764;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.topic{
  margin-bottom: 100px;
  width: 100%;
}
.topic h2{
  text-align: center;
  color: #fff;
}

/* 圖片 */
.topic .pic{
  top: 0;
  left: -100vw;
  opacity: 0;
  transition: left .7s, opacity .7s;
  margin: 30px 0;
  width: 100%;
  height: 50vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topic:nth-child(even) .pic{
  left: auto;
  right: -100vw;
  transition: right 1s, opacity 1s;
}
.topic .pic div{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 70%;
  filter: brightness(50%);
  transition: .3s;
}
.topic .pic .front {
  height: 100%;
  filter: brightness(100%);
  box-shadow: 0 0 30px 10px #000;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.topic .pic img{
  height: 100%;
}

/* 箭頭 */
.topic .pic::before{
  content: '';
  height: 0;
  width: 0;
  border: 5vw solid #ffffff90;
  border-left: none;
  border-top: 5vw solid transparent;
  border-bottom: 5vw solid transparent;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 3;
}
.topic .pic::after{
  content: '';
  height: 0;
  width: 0;
  border: 5vw solid #ffffff90;
  border-right: none;
  border-top: 5vw solid transparent;
  border-bottom: 5vw solid transparent;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translate(0,50%);
  z-index: 3;
}

/* 文字 */
.topic .text{
  position: relative;
  top: 0;
  right: -100vw;
  opacity: 0;
  transition: right .7s, opacity .7s;
  background-blend-mode: multiply;
  background-color: #09000090;
  background-image: url('pic/Tic_Tac_Toe_red.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.topic:nth-child(even) .text{
  right: auto;
  left: -100vw;
  transition: left 1s, opacity 1s;
}
.topic .about .game_hard{
  margin-bottom: 20px;
  font-size: 0;
}
.topic .about .icon{
  filter: invert(100%);
  margin-right: 2px;
  width: 16px;
}
.topic .about span:nth-of-type(-n+2){
  margin-right: 10px;
}
.topic .text p{
  filter: drop-shadow(0 0 2px #000);
  margin: 30px 0;
  line-height: 1.5em;
}

.topic .text > a{
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
  transition: .1s;
  box-shadow: #830007 0 2px 0 0,
              #830007 0 3px 0 0,
              #470505 0 4px 2px 1px;
}
.topic .text a:hover{
  top: 0;
  box-shadow: #830007 0 0 0 0,
              #830007 0 0 0 0,
              #470505 0 1px 0 1px;
}


/* 難度 */
.topic .game_hard .icon{
  filter: invert(30%);
}
.beauty .game_hard .icon,
.circus .game_hard .icon:nth-of-type(-n+4),
.daydream .game_hard .icon:nth-of-type(-n+3),
.lie_photo .game_hard .icon{
  filter: invert(85%) sepia(60%) saturate(600%) hue-rotate(350deg);
}


/* 更多手手 */
#more_topic{
  overflow: hidden;
  display: none;
  width: 100%;
  height: 180px;
  text-align: center;
  position: fixed;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;
}
#more_topic.stop_moving{
  position: absolute;
  bottom: 418px;
}

/* 土 */
#more_topic a{
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
}
#more_topic a::before{
  content: url('pic/zombie_mud.png');
  filter: invert(11%) sepia(81%) saturate(3274%) hue-rotate(344deg) brightness(92%) contrast(116%);
  position: absolute;
  z-index: -1;
  bottom: -20px;
  left: 50%;
  transform: translate(-55%,0);
}
#more_topic .key{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-55%,0) rotate(10deg);
  transition: .2s;
}
#more_topic .surprise{
  filter: invert(15%) sepia(81%) saturate(3274%) hue-rotate(344deg) brightness(92%) contrast(116%);
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 50%;
  transform: translate(-60%,0) rotate(10deg);
  transition: .2s;
}

/* 警告 */
.warning{
  background: url('pic/warning-yellow_black_bar.png') no-repeat center;
  background-color: #830007;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  position: relative;
  z-index: 3;
}
.warning .full_set{
  background-color: #830007dd;
  padding: 60px 30px;
}
.warning h2{
  margin-bottom: 40px;
  color: #ffff64;
}
.warning_icon img{
  height: 50px;
  margin: 5px;
  filter: invert(100%) drop-shadow(0 0 30px #000);
}
.warning_icon img:nth-child(3){
  margin: 5px 0 5px 5px;
}

.warning p{
  padding-top: 30px;
  line-height: 2em;
  position: relative;
  filter: drop-shadow(0 0 10px #000);
}

footer,
.copyright{
  position: relative;
  z-index: 3;
}




@media screen and (min-width:768px) {
  .banner > p{
    top: 10vh;
  }
  .banner a{
    top: 15vh;
  }
  .topic{
    display: flex;
    align-items: center;
  }

  .hot_topic article:nth-child(even){
    flex-direction: row-reverse;
  }
  .topic h2{
    filter: drop-shadow(0 0 5px #000);
    position: absolute;
    text-align: left;
    top: 130px;
    right: calc(50% - .5em);
    z-index: 2;
  }
  article:nth-of-type(1) h2{
    top: 307px;
  }
  article:nth-of-type(2) h2{
    top: 907px;
  }
  article:nth-of-type(3) h2{
    top: 1507px;
  }
  article:nth-of-type(4) h2{
    top: 2107px;
  }
  .hot_topic article:nth-child(even) h2{
    left: calc(50% - .5em);
    right: 0;
  }

  /* 圖片 */
  .topic .pic{
    margin: 0;
    width: 50%;
    height: 500px;
    flex-direction: column;
  }
  .topic .pic div{
    width: 70%;
    height: auto;
  }
  .topic .pic .front {
    width: 100%;
    height: auto;
  }
  .topic .pic img{
    width: 100%;
    height: auto;
  }

  /* 箭頭 */
  .topic .pic::before{
    border: 30px solid #ffffff90;
    border-top: none;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: 5px;
    left: 50%;
    transform: translate(-50%,0);
  }
  .topic .pic::after{
    border: 30px solid #ffffff90;
    border-bottom: none;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%,0);
  }
  .topic .pic:hover::before{
    animation: Stepping_top .5s infinite alternate;
  }
  .topic .pic:hover::after{
    animation: Stepping_bottom .5s infinite alternate;
  }

  /* 文字 */
  .topic .text{
    right: -50vw;
    background-blend-mode: multiply;
    background-color: #09000090;
    background-image: url('pic/Tic_Tac_Toe_red.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 80%;
    height: 280px;
    flex-grow: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
  }
  .topic:nth-child(even) .text{
    align-items: flex-end;
  }
  .topic:nth-child(even) .about{
    text-align: end;
  }
  .topic .about .game_hard{
    margin-bottom: 20px;
    font-size: 0;
  }
  /* .topic .about .icon{
    filter: invert(100%);
    margin-right: 2px;
    width: 16px;
  } */
  .topic .about span:nth-of-type(-n+2){
    margin-right: 10px;
  }
  .topic .text p{
    filter: drop-shadow(0 0 2px #000);
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  .topic .text > a{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    transition: .1s;
    position: relative;
    top: -3px;
    box-shadow: #830007 0 2px 0 0,
                #830007 0 3px 0 0,
                #470505 0 4px 2px 1px;
  }
  .topic .text a:hover{
    top: 0;
    box-shadow: #830007 0 0 0 0,
                #830007 0 0 0 0,
                #470505 0 1px 0 1px;
}
  /* 更多手手 */
  #more_topic.stop_moving{
    position: absolute;
    bottom: 470px;
  }
  #more_topic .surprise{
    bottom: -90px;
    left: 50%;
    transform: translate(-55%,0) rotate(0deg);
    transition: .2s;
  }  
  /* 抓取動作 */
  #more_topic a:hover  ~ .surprise{
    transform: rotate(15deg) translate(-65%,0);
    bottom: -20px;
  }
  #more_topic a:active ~  .surprise{
    left: 50%;
    transform: rotate(-40deg) translate(-55%,0);
    bottom: -100px;
  }
  #more_topic a:active ~  .key{
    opacity: 0;
    bottom: -100px;
    transform: rotate(-10deg) translate(-55%,0);
  }
  
  

  .warning_icon img{
    height: 60px;
    margin: 20px;
  }
}

@media screen and (min-width:992px) {
  .topic .pic div{
    width: 50%;
  }
}




@keyframes Stepping_top{
  100%{
    top: -5px;
  }
  0%{
    top: 5px;
  }
}

@keyframes Stepping_bottom{
  100%{
    bottom: -5px;
  }
  0%{
    bottom: 5px;
  }
}


