.circular-menu .menu-item:nth-child(2){
  background-color: #441111;
}
.banner{
  background: url('https://cdn.pixabay.com/photo/2016/02/17/09/20/watches-1204696_960_720.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

/* 預約流程 */
.reserve_process{
  margin: auto;
  padding: 60px 0;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reserve_process h1{
  margin-bottom: 30px;
  color: #F3D764;
  width: 100%;
  text-align: center;
}
.reserve_process .item_group{
  display: flex;
  flex-direction: column;
}
.reserve_process .item_group div{
  position: relative;
  width: 100%;
  text-align: center;
}
.reserve_process img{
  width: 60px;
  padding: 10px;
  filter: invert(100%);
}
.reserve_process .item_group div:first-child img{
  filter: invert(85%) sepia(40%) saturate(500%) hue-rotate(350deg);
}
.reserve_process h3{
  display: inline-block;
}
.reserve_process .item_group div:first-child h3{
  color: #F3D764;
}
.reserve_process .item_group div:nth-of-type(-n+3):after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff;
  top: 50%;
  left: -5vw;
  transform: translate(-50%,0);
}
.reserve_process .item_group div::before{
  content: " ";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: -5vw;
  transform: translate(-50%,-50%);
}
.reserve_process .item_group div:first-child:before{
  height: 15px;
  width: 15px;
  background-color: #F3D764;
  z-index: 1;
}


/* 預約密室 */
.topic_reserve{
  background-color: #280000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  border-radius: 10px;
  margin: auto;
}
/* 介紹左欄 */
.topic{
  /* padding: 20px; */
  position: relative;
}
.topic h2{
  position: absolute;
  left: 16px;
  top: 35px;
  background-color: rgb(165, 42, 42);
  padding: 15px;
  border-radius: 0 35px 35px 0;
}
.topic .pic{
  margin: 20px;
  width: calc(100% - 40px);
  height: 50vh;
  border: 1px solid #888;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: turn_pic 10s infinite steps(1, end);
}
.topic .about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.topic .about span{
  width: 165px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.topic .about img{
  filter: invert(80%);
  height: 16px;
}
.topic .about p{
  color: #aaa;
  display: inline-block;
  line-height: 1em;
  font-size: 16px;
}
.topic > p{
  line-height: 1.5em;
  margin: 20px;
  color: #ddd;
  text-indent: 2em;
}

@keyframes turn_pic {
  0%{
    background-image: url("https://cdn.pixabay.com/photo/2021/11/30/13/21/vintage-camera-6835351_960_720.jpg");
  }
  33%{
    background-image: url("https://cdn.pixabay.com/photo/2014/02/02/17/40/photos-256887_960_720.jpg");
  }
  66%{
    background-image: url("https://cdn.pixabay.com/photo/2014/11/03/10/44/camera-514992_960_720.jpg");
  }
}



/* 預約右欄 */
.topic_reserve .reserve{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.topic_reserve .reserve div>div{
  margin-bottom: 20px;
}
.reserve h3{
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.reserve select,
.reserve label{
  cursor: pointer;
}
/* 選擇其他主題 */
.choose{
  border: 1px solid #888;
  padding: 20px;
  border-radius: 10px;
}
.date select,
.choose select{
  width: 100%;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
}
/* 參與人數 */
.players{
  border: 1px solid #888;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.players label{
  width: calc(100% / 6);
}
.players input{
  position: absolute;
  opacity: 0;
}
.players span{
  display: inline-block;
  width: 31px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
}
.players input:checked + span{
  background-color: var(--main-color);
  color: #fff;
}
.players input:not(:checked) + span:hover{
  background-color: #441111;
}

/* 日期 */
.date{
  border: 1px solid #888;
  padding: 20px;
  border-radius: 10px;
}
.date table{
  width: 100%;
  text-align: center;
}
.date thead tr{
  line-height: 30px;
}
/* 左右箭頭 */
.date thead button{
  width: 30px;
  height: 30px;
  /* font-size: 24px; */
  background-color: transparent;
  border: none;
}
.date thead button img{
  width: 30px;
  height: 30px;
  filter: invert(100%);
}
.date thead .arrow_right{
  transform: rotate(180deg);
}
.date tbody td{
  width: calc(100% / 7);
  border: none;
  color: #fff;
  line-height: 24px;
}
.date select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 90%;
  margin-left: 10px;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
}
.date tbody span{
  display: inline-block;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
}
.date tbody input{
  position: absolute;
  opacity: 0;
}
.date tbody input:disabled + span{
  color: #666;
}
.date tbody input:checked + span{
  background-color: var(--main-color);
  color: #fff;
}
.date tbody input:not(:disabled):not(:checked) + span:hover{
  background-color: #441111;
}

/* 場次 */
.session{
  width: 260px;
}
.session h3{
  text-align: center;
}
.session .head{
  text-align: center;
  color: #ddd;
}
.session .head button{
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}
.session .head button img{
  width: 20px;
  height: 20px;
  filter: invert(30%) sepia(25%) saturate(4958%) hue-rotate(338deg) brightness(97%) contrast(95%);
}
.session p{
  display: inline-block;
  font-size: 16px;
}
.session .empty{
  text-align: center;
}
.session .empty p{
  display: block;
  border: 2px dotted var(--main-color);
  margin: 10px 0;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 18px;
}
.session .empty input{
  position: absolute;
  opacity: 0;
}
.session .empty input:hover +p{
  border: 2px dotted var(--main-color);
  background-color: #441111;
}
.session .empty input:checked+p{
  border: 2px dotted transparent;
  color: #fff;
  background-color: var(--main-color);
}


@media screen and (min-width:535px) and (max-width:700px) {
  .topic .about span{
    width: 240px;
  }
  .topic > p{
    margin: 40px;
    text-indent: 0;
  }
}

@media screen and (min-width:768px) {
  /* 預約流程 */
  .reserve_process{
    max-width: 1200px;
  }
  .reserve_process .item_group{
    flex-direction: row;
    justify-content: center;
  }
  .reserve_process .item_group div{
    width: calc(100% / 4 - 50px);
  }
  .reserve_process img{
    width: 60px;
    padding: 30px;
  }
  .reserve_process .item_group div:nth-of-type(-n+3):after{
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 20px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    right: 0;
    left: auto;
    transform: translate(50%,0);
  }
  .reserve_process .item_group div::before{
    content: none;
  }
  /* 預約密室 */
  .topic_reserve{
    background-color: #280000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    border-radius: 10px;
    margin: auto;
  }
  /* 介紹左欄 */
  .topic{
    width: 0;
    flex-grow: 1;
  }
  .topic .pic{
    height: 503px;
  }



  /* 預約右欄 */
  .topic_reserve .reserve{
    padding: 20px 20px 20px 0;
    width: 300px;
  }
  /* 選擇其他主題 */
  .choose{
    border: 1px solid #888;
    margin: 0 20px 20px 0;
    border-radius: 10px;
  }
  .choose select{
    width: 100%;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 18px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
  }
  /* 參與人數 */
  .players{
    border: 1px solid #888;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .players label{
    width: calc(100% / 6);
  }
  .players input{
    position: absolute;
    opacity: 0;
  }
  .players span{
    display: inline-block;
    width: 31px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
  }
  .players input:checked + span{
    background-color: var(--main-color);
    color: #fff;
  }
  .players input:not(:checked) + span:hover{
    background-color: #441111;
  }

  /* 日期 */
  .date{
    border: 1px solid #888;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
  }
  .date table{
    width: 100%;
    text-align: center;
  }
  .date thead tr{
    line-height: 30px;
  }
  /* 左右箭頭 */
  .date thead button{
    width: 30px;
    height: 30px;
    /* font-size: 24px; */
    background-color: transparent;
    border: none;
  }
  .date thead button img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
  }
  .date thead .arrow_right{
    transform: rotate(180deg);
  }
  .date tbody td{
    width: calc(100% / 7);
    border: none;
    color: #fff;
    line-height: 24px;
  }
  .date tbody span{
    display: inline-block;
    border-radius: 12px;
    width: 100%;
    font-size: 16px;
  }
  .date tbody input{
    position: absolute;
    opacity: 0;
  }
  .date tbody input:disabled + span{
    color: #666;
  }
  .date tbody input:checked + span{
    background-color: var(--main-color);
    color: #fff;
  }
  .date tbody input:not(:disabled):not(:checked) + span:hover{
    background-color: #441111;
  }

  /* 場次 */
  .session{
    margin: 20px 20px 20px 0;
  }
  .session .head button{
    margin: 0 15px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
  }
  .session .head button img{
    width: 20px;
    height: 20px;
    filter: invert(30%) sepia(25%) saturate(4958%) hue-rotate(338deg) brightness(97%) contrast(95%);
  }
  .session p{
    display: inline-block;
    font-size: 16px;
  }
  .session .empty{
    text-align: center;
  }
  .session .empty p{
    display: block;
    border: 2px dotted var(--main-color);
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
    width: 90%;
    padding: 10px 0;
    font-size: 18px;
  }
  .session .empty input{
    position: absolute;
    opacity: 0;
  }
  .session .empty input:hover +p{
    border: 2px dotted var(--main-color);
    background-color: #441111;
  }
  .session .empty input:checked + p{
    border: 2px dotted transparent;
    color: #fff;
    background-color: var(--main-color);
  }

}



/* 表單 */
#light_off.on {
  display: block;
}
#light_off{
  display: none;
  height: 100vh;
  width: 100%;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
form{
  width: 90vw;
  max-height: 70vh;
  max-width: 1000px;
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
/* 卷軸 */
form::-webkit-scrollbar {
  background-color: transparent;
}
form::-webkit-scrollbar-thumb {
  border: 3px solid var(--main-color);
  border-radius: 15px;
  background-color: #441111;
}
form div{
  padding: 10px;
}
form .check_data{
  border-bottom: 2px dashed #441111;
}
form .check_data,
form .contact_data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
form .check_data label,
form .contact_data label{
  margin-top: 15px;
  line-height: 1.5em;
}
form .check_data input{
  max-width: 55vw;
  color: #ddd;
  border-radius: 10px;
  font-size: 16px;
  display: block;
  padding: 0 10px;
}
form .contact_data input{
  border-radius: 10px;
  font-size: 16px;
  display: block;
  padding: 0 10px;
}
form .contact_data label:last-child input{
  width: 70%;
}
form > input{
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: -10px;
  margin-left: auto;
  background-color: #280000;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
}


/* 更多主題 */
.see_more{
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 60px;
}
.see_more h2{
  margin: 60px 20px 20px;
  width: 100%;
}
.see_more h3{
  color: #fff;
  margin: 10px 5px;
}
.see_more > a{
  box-shadow: 1px 2px 10px 3px #fff5;
  border-radius: 30px;
  margin: 20px;
  width: calc(100% / 3 - 40px);
  height: 300px;
  position: relative;
  overflow: hidden;
}
.see_more > a > img{
  height: 100%;
  transition: .5s;
}
.see_more > a:hover > img{
  transform:scale(1.1,1.1);
}
.see_more .info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #0009;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.see_more > a:hover .info{
  background-color: #0001;
}
.see_more .game_hard{
  margin: 5px;
  font-size: 0;
}
.see_more .info .icon{
  height: 15px;
  margin-right: 5px;
  filter: invert(60%);
}
.see_more .game_hard .icon{
  filter: invert(30%);
}
.see_more > a:nth-of-type(1) .game_hard .icon:nth-of-type(-n+3),
.see_more > a:nth-of-type(2) .game_hard .icon:nth-of-type(-n+4),
.see_more > a:nth-of-type(3) .game_hard .icon{
    filter: invert(85%) sepia(60%) saturate(600%) hue-rotate(350deg);
}
.see_more .info span{
  margin: 5px;
  color: #888;
}