*{
  font-family:"微軟正黑體","Microsoft JhengHei","Times New Roman";
}
html{
  --main-color: brown;
}
img{
  vertical-align: middle;
}
h1{
  text-align: center;
  font-size: 44px;
  font-weight: 600;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 24px;
}
p{
  font-size: 18px;
}
a{
  text-decoration: none;
}
select,
input {
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;     /* FireFox */
  appearance: none;
}

/* 卷軸 */
::-webkit-scrollbar{
  width: 10px;
  background-color: #220000;
}
::-webkit-scrollbar-button{
  height: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--main-color);
}

/* 導覽列 */
.header_float{
  background-color: rgba(165, 42, 42, .7);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 10px;
}
.header_float > a{
  height: 100%;
}
.header_float .logo{
  height: 100%;
}

/* 圓形選單 */
.circular-menu .floating-btn {
  cursor: pointer;
  display: block;
  width: 70px;
  height: 60px;
  outline: 0;
}
/* 叉叉 */
.circular-menu .floating-btn::before,
.circular-menu .floating-btn::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 35px;
  border-radius: 5px;
  width: 30px;
  height: 4px;
  background-color: #F3D764;
  transition: .3s;
}
.circular-menu .floating-btn::before {
  top: 18px;
  right: 35px;
  box-shadow:0 10px 0 0  #F3D764;
}
.circular-menu.active .floating-btn::after {
  top: 28px;
  right: 35px;
  transform: rotate(-315deg);
  background-color: #441111;
}
.circular-menu.active .floating-btn::before {
  top: 28px;
  right: 35px;
  box-shadow: none;
  transform: rotate(-225deg);
  background-color: #441111;
}

/* 圓型底 */
.circular-menu:after {
  display: none;
  content: ' ';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: var(--main-color);
  box-shadow: inset 0 0 10px #441111;
  transition: all .3s ease;
}
.circular-menu.active:after {
  display: block;
  transform: scale(16, 16);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

/* 連結 */
.circular-menu .menu-item {
  opacity: 0;
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  right: -500px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 21px 20px;
  border-radius: 20px;
  z-index: -1;
  display: block;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(30deg, #0008 30%,#0000 70%);
  transition: transform .3s ease;
}

/* 選單連結動態 */
.circular-menu .menu-item:hover {
  background: linear-gradient(30deg, #280000 40%,#0000 70%);
}
.circular-menu.active .menu-item {
  opacity: 1;
  right: -30px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(0deg);
  position: absolute;
}
.circular-menu.active .menu-item:nth-child(1) {
  max-width: 500px;
  top: 60px;
}
.circular-menu.active .menu-item:nth-child(2) {
  max-width: 480px;
  top: 130px;
}
.circular-menu.active .menu-item:nth-child(3) {
  max-width: 450px;
  top: 200px;
}
.circular-menu.active .menu-item:nth-child(4) {
  max-width: 400px;
  top: 270px;
}
.circular-menu.active .menu-item:nth-child(5) {
  max-width: 320px;
  top: 340px;
}
.circular-menu.active .menu-item:nth-child(6) {
  max-width: 220px;
  top: 410px;
}

/* 搜尋欄 */
.header_float label{
  display: none;
}


/* 頭 */
.banner{
  height: 65vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  color: #fff;
  text-align: center;
  box-shadow: 0 -200px 500px #000 inset;
}
.banner h1{
  margin-top: 40vh;
}
main{
  background-color: #090000;
  color: #fff;
}
main section:first-child{
  margin-top: 60vh;
}

/* 底 */
footer{
  position: relative;
  z-index: 1;
  background-color: #220000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: #888;
  line-height: 1.5em;
  padding-top: 60px;
}
footer div p{
  font-size: 16px;
}
footer h3{
  margin-bottom: 10px;
  color: #ddd;
}
footer .branch_group,
footer .other_info{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
footer .branch_group > div,
footer .other_info > div{
  border-left: 3px solid hsl(48, 86%, 67%);
  width: 70%;
  max-width: 235px;
  margin-bottom: 30px;
  padding-left: 10px;
}
footer .other_info > div{
  border-left: 3px solid var(--main-color);
}
footer .follow .link{
  font-size: 0;
}
footer .follow .link a{
  display: inline-block;
  padding: 5px 10px 5px 5px;
  height: 40px;
}
footer .follow .link img{
  height: 40px;
  filter: invert(100%);
}

.copyright{
  background-color: #220000;
  text-align: center;
  font-size: 14px;
  color: #888;
}
.copyright .logo{
  width: 50px;
  margin-bottom: 5px;
}







@media screen and (min-width:768px) {
  /* 導覽列 */
  .header_float{
    justify-content: space-around;
    padding: 5px;
  }
  /* 選單 */
  .circular-menu {
    position: relative;
  }
  .circular-menu::after {
    display: none;
  }
  .circular-menu.active:after {
    display: none;
  }
  .circular-menu .floating-btn {
    display: none;
  }
  /* 連結 */
  .circular-menu .menu-item {
    opacity: 1;
    transform: rotate(0);
    position: static;
    display: inline-block;
    left: 0;
    width: auto;
    height: auto;
    box-sizing: content-box;
    font-size: 16px;
    padding: 17px 10px;
    border-radius: 0;
    background: transparent;
    z-index: 0;
    color: #fff;
  }
  .circular-menu.active .menu-item {
    position: static;
  }
  .circular-menu .menu-item:hover {
    background: none;
  }
  .circular-menu nav{
    font-size: 0;
  }
  .circular-menu .menu-item::before{
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: auto;
    background-color: #44111190;
    transition: .8s;
  }
  .circular-menu .menu-item:hover::before{
    height: 100%;
  }
  /* 搜尋欄 */
  .header_float .search_bar{
    display: block;
  }
  .header_float label input{
    width: 70px;
    border: none;
    background: url('pic/nav-search.png') no-repeat center/16px;
    caret-color: #aaa;
    color: #fff;
    opacity: .8;
  }
  .header_float .search_bar input::placeholder{
    opacity: 0;
  }
  .header_float .search_bar input:focus{
    background: none;
    border-bottom: 2px solid #fff;
    outline: none;
    opacity: 1;
  }
  .header_float .search_bar input:focus::placeholder{
    opacity: 0;
  }



  footer .branch_group,
  footer .other_info{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    max-width: none;
  }


}

@media screen and (min-width:992px) {   
  /* 選單 */
  .circular-menu .menu-item {
    padding: 17px;
  }
  /* 搜尋欄 */
  .header_float label input{
    background: url('pic/nav-search.png') no-repeat right/16px;
    border-bottom: 2px solid #fff;
    width: 150px;
    opacity: .5;
  }
  .header_float .search_bar input::placeholder{
    opacity: 1;
    color: #fff;
  }
  .header_float .search_bar input:focus{
    background: url('pic/nav-search.png') no-repeat right/16px;
  }
}